* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  min-height: 100%;
}

:root {
  --clr-primary-bg: hsl(0, 0%, 100%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-terracota: hsl(0, 79%, 55%);
  --clr-light-terracota: hsl(0, 79%, 68%);
  --clr-light-gray: hsl(0, 0%, 67%);
  --clr-medium-gray: hsl(0, 0%, 23%);
  --clr-dark-gray: hsl(0, 0%, 15%);
  --gradient-light-gray: radial-gradient(
    circle,
    hsl(0, 0%, 100%) 59%,
    hsl(0, 2%, 89%) 100%
  );
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.main_container {
  height: 100%;
  min-height: 100%;
  background-color: var(--clr-primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.number-display {
  --size: 200px;
  width: var(--size);
  height: var(--size);
  background-color: var(--clr-light-terracota);
  color: var(--clr-white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:
  3.6px 2.7px 2.7px rgba(0, 0, 0, 0.022),
  9.2px 6.9px 6.9px rgba(0, 0, 0, 0.031),
  18.8px 14px 14.2px rgba(0, 0, 0, 0.039),
  38.7px 28.8px 29.2px rgba(0, 0, 0, 0.048),
  106px 79px 80px rgba(0, 0, 0, 0.07);
}

.number-display span {
  font-size: 3rem;
}

.number-display figcaption {
  padding-top: 16px;
  font-size: 1.25rem;
}

.answer_submission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.answer_submission input {
  padding-block: 8px;
  text-align: center;
  font-size: 1rem;
  appearance: none;
  border: none;
  border-radius: 3px 3px 0px 0px;
  color: var(--clr-dark-gray);
  background-color: var(--clr-white);
  border-bottom: 2px solid var(--clr-dark-gray);
  transition: all 350ms ease-in-out;
}

.answer_submission input:focus {
  outline: none;
  background: var(--gradient-light-gray);
  border-bottom: 2px solid var(--clr-terracota);
}

.answer_submission input:focus::placeholder {
  color: transparent;
}

.answer_submission button {
  appearance: none;
  border: none;
  font-size: 1.25rem;
  width: min-content;
  color: var(--clr-white);
  border-radius: 5px;
  padding: 8px 32px;
  background-color: var(--clr-terracota);
}

.answer_submission button:active {
  background-color: var(--clr-light-terracota);
}

.answer_submission button:disabled {
  background-color: var(--clr-light-gray)
}